{% extends 'purchase/basic_layout.html' %}


  {% block style %}

  {% endblock style %}

  {% block body %}

  <div class="main">
    <!-- Sale Summary Section -->
    <div class="sale-summary" id="sala_detail">
      <div class="card">
        <h3>Today Payment</h3>
        <p>₹ {{Todays_Payment}}  </p>
        <button id="today_payments">Show Detail</button>
      </div>
      <div class="card">
        <h3>This Month Payment</h3>
        <p>₹ {{ This_Month_Payment }} </p>
        <button id="this_payments">Show Detail</button>
      </div>
      <div class="card">
        <h3>Previous Month Payment</h3>
        <p>₹ {{ Pre_Months_Payment }}</p>
        <button id="pre_payments">Show Detail</button>
      </div>
      <div class="card">
        <h3>Total Payment</h3>
        <p>₹ {{Total_Payment}}</p>
        <button id="total_payments" >Show Detail</button>
      </div>
    </div>

    <!-- Add Sale Button -->
    <div class="add-sale">
      <a href="{% url 'Add_Payment_Voucher' %}"><button > Add Payment Voucher</button></a>
    </div>

    <!-- Recent Sales -->
    <div class="recent-sales">
      <h2>Recent SPayment</h2>
      <table class="sale-table">
        <thead>
          <tr>
            <th>V No.</th>
            <th>Date</th>
            <th>Party</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>

          {% for voucher in All_Payment_Voucher %}
          <tr>
            <td>{{ voucher.Pay_V_No }}</td>
            <td>{{ voucher.Pay_Date|date:'Y-m-d' }}</td>
            <td>{{voucher.Pay_Party_Data.Sales_Con_Name}}</td>
            <td>₹{{voucher.Pay_Amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



{% endblock body %}


{% block javaScript%}
  <script>

    sale_button = document.getElementById('sala_detail');

    sale_button.addEventListener('click',(event)=>{
        // console.log(event.target.id);
        if (event.target.id){
          window.location.href = `./all_payments/${event.target.id}`
        }
      
    })

  </script>
{% endblock javaScript%}

