{% extends 'purchase/basic_layout.html' %}


{% block style %}
  <style>

    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      /* height: 100%; */
      margin: 0;
      padding: 0;
    }
    .voucher-container {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      max-width: 500px;
      /* margin: 40px 20px; */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    h1{
      text-align: center;
      margin-bottom: 25px;
      color: #000706ef;
    }

    h3 {
      text-align: center;
      margin-bottom: 25px;
      color: white;
      background-color: #007bff;
      padding: 2px 0;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input, select, textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    .submit-btn {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
      transition: background-color 0.3s;
    }

    .submit-btn:hover {
      background-color: #0056b3;
    }

    .button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10%;
    }

    .button>a{
      text-align: center;
      text-decoration: none;
    }
    /* Responsive */
    @media (max-width: 600px) {
      .voucher-container {
        padding: 15px;
      }

      h1 {
        font-size: 20px;
      }
    }
  </style>
  {% endblock style %}

  {% block body %}

<div class="container">



  <div class="voucher-container">
    <h1>Edit Payment Voucher </h1>
    <h3>Voucher Number {{ Voucher_Deatil.pk }}</h3>

    <form action="{% url 'Update_Payments_Voucher' %}" method="POST"> {% csrf_token %}

      <input type="number" id="payment" name="payment_v_no" value="{{Voucher_Deatil.pk}}" required readonly style="display: none;" />

      
      <div class="form-group">
        <label for="Party_GSTIN">GSTIN</label>
          <select id="Party_GSTIN" name="Party_GSTIN" required>
            <option value="">-- Select Party --</option>
            {% for gistin in Party_Data %}
            <option value="{{ gistin.Sales_Con_GSTIN }}" {% if Voucher_Deatil.Pay_Party_Data.Sales_Con_GSTIN == gistin.Sales_Con_GSTIN  %} selected {% endif %}>{{ gistin.Sales_Con_GSTIN }} ({{gistin.Sales_Con_Name}})</option>
            {% endfor %}
          </select>
      </div>

      <div class="form-group">
        <label for="payment-amount">Amount Payments</label>
        <input type="number" step="0.01" id="payment-amount" name="amount_paid" value="{{Voucher_Deatil.Pay_Amount}}" required />
      </div>

      <div class="form-group">
        <label for="payment-method">Payment Method</label>
        <select id="payment-method" name="payment_method" required>
          <option value="">Select method</option>
          <option value="Cash" {% if Voucher_Deatil.Pay_Method == 'Cash' %} selected {% endif %} >Cash</option>
          <option value="Bank Transfer" {% if Voucher_Deatil.Pay_Method == 'Bank Transfer' %} selected {% endif %} >Bank Transfer</option>
          <option value="Credit Card" {% if Voucher_Deatil.Pay_Method == 'Credit Card' %} selected {% endif %} >Credit Card</option>
          <option value="Cheque" {% if Voucher_Deatil.Pay_Method == 'Cheque' %} selected {% endif %} >Cheque</option>
        </select>
      </div>

      <div class="form-group">
        <label for="payment-date">Payment Date</label>
        <input type="date" id="payment-date" value="{{Voucher_Deatil.Pay_Date|date:'Y-m-d'}}" name="payment_date" required />
      </div>

      <div class="form-group">
        <label for="payment-description">Description</label>
        <textarea id="payment-description" name="description" >{{Voucher_Deatil.Pay_Description}}</textarea>
      </div>

      <div class="button">
        <a href="{% url 'Payment_Index' %}" class="submit-btn back-button">Back</a>
        <button type="submit" class="submit-btn">Submit Voucher</button>
      </div>
    </form>
  </div>

  </div>
{% endblock body %}


{% block javaScript%}

{% endblock javaScript%}
