<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Book</title>
</head>
<body>
    Day Book
    <h3 class="fw-bold mb-0">Daybook</h3>
                <form method="get" class="d-flex">
                    <input type="date" name="date"  class="form-control me-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>


    {% for data in Day_Data %}
        <span>{{data.date_field|date:'Y:m:d'}}</span>
        <span>{{data.v_no}}</span>
        <span>{{data.amount}}</span>
        <span>{{data.entry_type}}</span>
        <br>
    {% endfor %}

    <p> {{Total_Credit}} </p>
    <p> {{Total_Debit}} </p>
</body>
</html>